.queryBox {
    margin-top: 15px;
    height: 200px;
    
}
.queryInput {
    height: 150px;
    text-align: left;
}
.query-button {
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}
